@model IEnumerable<Papeleria.LogicaNegocio.Entidades.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Autores</h1>

<p>
    <a asp-action="Create">Agregar Usuario</a> <br/>
    <a asp-controller="Usuario" asp-action="Index">Ver Usuarios</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto.Apellido)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
